<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <div class="nameprod" style="padding: 4rem">
        <h5>New Products</h5>
      </div>
    </div>

    <div class="col-sm-9">
        <div class="card" style="width: 11rem;" *ngFor="let n of allnewdata"  (click)="getnewprodimages(n)" style="float:left;box-shadow:5px 2px 5px 2px;height:250px;margin-left:20px;">
            <img class="card-img-top" src="../../assets/uploads/{{n.pimg}}" alt="Card image cap" style="width:200px;">
            <div class="card-body">
              <h5 class="card-title">{{n.pname}}</h5>
              <p class="card-text">{{n.pprice}}</p>
            </div>
          </div>
    </div>

   </div>
  </div>