<!-- Footer -->
<footer class="page-footer font-small stylish-color-light pt-4 mt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color:#6C27B3">SWAN | Cart</h5>
        <p>The Ecommerce Company having all the range of household to Industrial needs, The registered
          located in Hyderabad, near Erragadda.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h6 class="font-weight-bold text-uppercase mt-3 mb-4">Our Partners</h6>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="partners">WestIn</a>
          </li>
          <li>
            <a href="#!" class="partners">Urban Boy</a>
          </li>
          <li>
            <a href="#!" class="partners">ElectroicHub</a>
          </li>
          <li>
            <a href="#!" class="partners">FrozenBoy</a>
          </li>
        </ul>

      </div>

      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h6 class="font-weight-bold text-uppercase mt-2 mb-3">Vouchers and Gifts</h6>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="partners">Credit Cards offers</a>
          </li>
          <li>
            <a href="#!" class="partners">Lucky Gift</a>
          </li>
          <li>
            <a href="#!" class="partners">Coupons and Codes</a>
          </li>
          <li>
            <a href="#!" class="partners">Scratch Cards</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr>

  <!-- Call to action -->
  <ul class="list-unstyled list-inline text-center py-2">
    <li class="list-inline-item"  style="width:55px;">
      <img class="card-img-top" src="../assets/visa.png" alt="Card image cap">
    </li>
    <li class="list-inline-item"  style="width:55px;">
      <img class="card-img-top" src="../assets/mcc.png" alt="Card image cap">
    </li>
     <li class="list-inline-item"  style="width:55px;">
      <img class="card-img-top" src="../assets/cc.png" alt="Card image cap">
    </li>
    <li class="list-inline-item"  style="width:55px;">
      <img class="card-img-top" src="../assets/mss.png" alt="Card image cap">
    </li>
    <li class="list-inline-item"  style="width:55px;">
      <img class="card-img-top" src="../assets/nb.png" alt="Card image cap">
    </li>
  </ul>
  <!-- Call to action -->

  <hr>

  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1">
        <img class="card-img-top" src="../assets/fb.png" alt="Card image cap"  style="width:20px;">
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1">
         <img class="card-img-top" src="../assets/insta.png" alt="Card image cap" style="width:20px;">
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1">
         <img class="card-img-top" src="../assets/li.png" alt="Card image cap" style="width:20px;">
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1">
         <img class="card-img-top" src="../assets/twit.png" alt="Card image cap" style="width:20px;">
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-dribbble mx-1">
         <img class="card-img-top" src="../assets/pin.png" alt="Card image cap" style="width:20px;">
      </a>
    </li>
  </ul>
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="#">www.swancart.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->




